body{
background: black;
}

header {
  background-color: black;
}

nav.menu_con_3_elementos {
  background-color: red;
  color: black;
}

nav.lista_no_ordenada {
   float: left;
   display: block;
   width: 150px;
   background-color: grey;
   color: red;
   border: blue 1px solid;
}

section.first_section {
  flex: center;
  background: red;
  padding: 20px;
  border: blue 1px solid;
}

section.second_section {
  background: red;
  padding: 20px;
  border: blue 1px solid;
}

aside.aside {
  background: red;
}

footer.footer {
  background: red;
}
